<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Administrar | Grupoenlaces</title>
<th:block th:insert="fragments.html :: headerfiles">
</th:block>
</head>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">
		<div class="row">
			<div class="col-sm-4 mt-4 mx-auto text-center">

				<div>
					<div class="mt-4 mb-4">
						<h2>Administrar</h2>
					</div>
				</div>
				<br />
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<div class="mt-4 mb-4">
						<a th:href="@{/user/list}">Usuarios</a>
					</div>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<div class="mt-4 mb-4">
						<a th:href="@{/user/editorslist}">Editores</a>
					</div>
				</div>

				<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')">
					<div class="mt-4 mb-4">
						<a th:href="@{/category/list}">Categorías</a>
					</div>
				</div>

				<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')">
					<div class="mt-4 mb-4">
						<a th:href="@{/link/list}">Enlaces</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="fixed-bottom">
		<footer th:insert="fragments :: footer"></footer>
		<div th:insert="fragments :: scripts"></div>
	</div>
</body>
</html>