<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-sm-12">
				<div th:each="link : ${links}">
					<div class="rounded m-4 p-2" style="background-color: lightgrey;">
						<div class="col-12 d-flex justify-content-start m-2 p-2">
							<div class="ml-3">
								<h5 th:text="${link.category.name}"></h5>
							</div>
						</div>
						<div class="col-12 d-flex justify-content-center m-2 p-2">
							<div>
								<h2 class="word-break" th:text="${link.title}"></h2>
							</div>
						</div>
						<div class="col-12 d-flex justify-content-center m-2 p-2">
							<div style="font-size: 25px;">
								<a th:href="@{${link.url}}"><i class='fas fa-link'></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<div th:classappend="${links.size()<2} ? fixed-bottom : mt-4">
		<footer th:insert="fragments :: footer"></footer>
		<div th:insert="fragments :: scripts"></div>
	</div>
</body>
</html>