<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 mt-4 mx-auto text-center">
				<div class="mt-4 mb-4">
					<h2>Buscar enlaces</h2>
				</div>
				<br /> <br />
				<div class="mt-4 mb-4">
					<form action="#" th:action="@{/link/searcher}"
						th:object="${category}" method="get">

						<label for="name"><strong>Categoría</strong></label>&nbsp;&nbsp;<select
							class="browser-default custom-select col-md-4" name="name"
							th:field="*{name}" id="name">
							<option value="" selected></option>
							<option th:each="cat:${categories}" th:value="${cat.name}"
								th:text="${cat.name}"></option>
						</select>&nbsp;&nbsp;

						<button type="submit" class="btn btn-primary">Buscar</button>
					</form>
				</div>
				<div class="mb-4">
					<a th:href="@{/link/list}" style="text-decoration: none;"><button
							class="btn btn-outline-info btn-block">
							<i class="fas fa-arrow-circle-left"></i> Volver
						</button></a>
				</div>
				<div th:if="${links.size()>0}" class="mt-4 mb-4">
					<div th:each="link : ${links}">
						<div class="rounded m-4 p-2" style="background-color: lightgrey;">
							<div class="col-12 d-flex justify-content-start m-2 p-2">
								<div class="ml-3">
									<h5 th:text="${link.category.name}"></h5>
								</div>
							</div>
							<div class="col-12 d-flex justify-content-center m-2 p-2">
								<div>
									<h2 class="word-break" th:text="${link.title}"></h2>
								</div>
							</div>
							<div class="col-12 d-flex justify-content-center m-2 p-2">
								<div style="font-size: 25px;">
									<a th:href="@{${link.url}}"><i class='fas fa-link'></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>